<%- include('partials/header') -%>
<h1>Compose </h1>
 <form action="/" method="post">
  <input type="text" name="posttext" >
  <input type="submit" value="publish">
</form>
<%- include('partials/footer') -%>